<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>수정 화면</h1>
	<form action="/pj9edit" method="post">
		<table>
			<tbody>
				<tr th:each = " result : ${result}">
					<td>
						<input type="hidden" th:value="${result.no}" name="no" />
						<div>제목 : <input type="text" th:value="${result.title}" name="title"/></div>
						<div>내용 : <input type="text" th:value="${result.content}" name="content"/></div>
						<button type="submit">수정</button>
						 <th:block th:if="${!result.accept}">
                			<a class="btn btn-success" th:href="@{/accept(no=${result.no},accept=0)}">승인</a>
                		</th:block>
                		<th:block th:if="${result.accept}">
                			<a class="btn btn-warning" th:href="@{/accept(no=${result.no},accept=1)}">미승인</a>
                		</th:block>
                		<a class="btn btn-secondary" href="/">취소</a>
					</td>
				</tr>			
			</tbody>
		</table>
	</form>	
</body>
</html>